.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
.darkTheme {
  background-color: #333333;
  color: #fff;
}
.lightTheme {
  background-color: #fff;
  color: #333333;
}
.btn {
  width: 100px;
  height: 25px;
}
img {
  display: block;
  height: 100px;
}